<MudDialog>
    <TitleContent>@Title</TitleContent>
    <DialogContent>
        <p>@Message</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Text" Color="Color.Inherit">Cancel</MudButton>
        <MudButton OnClick="Confirm" Variant="Variant.Filled" Color="Color.Primary">Confirm</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance Dialog { get; set; }

    [Parameter] public string Title { get; set; } = "Confirm Action";
    [Parameter] public string Message { get; set; } = "Are you sure you want to proceed?";

    void Cancel()
    {
        Dialog.Cancel();
    }

    void Confirm()
    {
        Dialog.Close(DialogResult.Ok(true));
    }
}
